/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

.semibold {
  font-weight: 600;
}

/* Layout */
.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 120px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

.layout-navbar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #0a2439;
}

.layout-header {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.layout-content {
  grid-area: 2 / 2 / 3 / 3;
  padding: 0 5%;
  overflow: auto;
}

/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  box-shadow: 10px 0px 20px #0a243910;
}

.navbar-header {
  padding: 0 10%;
  display: flex;
  align-items: center;
}

.navbar-title {
  font-weight: 800;
  color: #fff;
  padding-bottom: 0.5em;
  position: relative;
  letter-spacing: 0.03em;
  font-size: 22px;
}

.navbar-link {
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
  width: 100%;
  padding: 0 10%;
  z-index: 10;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.navbar-link::after {
  transition: 0.5s ease-in-out 0.1s;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00c4cc10;
  left: 0;
  top: 0;
  clip-path: circle(0% at 0% 0%);
  z-index: -1;
}

.navbar-link:hover::after {
  clip-path: circle(200.4% at 0% 0%);
}

.navbar-link:hover .navbar-text {
  color: #00c4cc;
}

.link-selected {
  background: #00c4cc10;
  color: #fff;
}

.navbar-icon {
  margin-right: 20px;
  max-width: 24px;
  max-height: 24px;
}

.navbar-text {
  transition-delay: 0.3s;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.reduce {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  cursor: pointer;
  background-color: #00c4cc;
  border-radius: 50px;
  height: 50px;
}

.reduce-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.row-label {
  font-weight: 600;
}

/* Components */
.cta {
  border: none;
  outline: none;
  text-decoration: none;
  padding: 1em;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-family: Montserrat;
  width: fit-content;
  cursor: pointer;
  background-color: #00c4cc;
  border-radius: 3px;
}

.ctd {
  border: none;
  outline: none;
  text-decoration: none;
  padding: 1em;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-family: Montserrat;
  width: fit-content;
  cursor: pointer;
  background-color: #FE7968;
  border-radius: 3px;
}

.cta-card {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #00c4cc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.cta-container {
  width: 50%;
  float: left;
  margin-bottom: 1em;
}

.card-icon {
  width: 48px;
  height: 48px;
  background-color: #0a2439;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  border-radius: 3px;
}



.card-title {
  font-size: 17px;
  margin-bottom: 0.5em;
  font-weight: 700;
  color: #0a2439;
}

.card-subtitle {
  font-size: 15px;
  margin-bottom: 1em;
  font-weight: 500;
  color: #00c4cc;
}

.card-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
  color: #546674;
}

.card-design {
  transition: 0.3s;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 24px;
  height: 24px;
  background-image: url(/img/go-to-location.png);
  background-size: contain;
  background-position: center;
}

.card-action {
  transition: 0.3s ease;
  font-size: 14px;
  font-weight: 600;
  background-color: #00c4cc;
  padding: 0.5em 1em;
  border-radius: 3px;
  color: #fff;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.card-top {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 32px;
  cursor: pointer;
  border-radius: 32px;
  height: 32px;
  background-color: #00c4cc99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-top:hover {
  background-color: #00c4cc;
}

.no-decoration {
  text-decoration: none;
}

/* Searchbar */
.searchbox {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  max-width: 400px;
  border-left: 3px solid #00c4cc;
  box-shadow: 0 10px 15px 3px #0a243910;
  border-radius: 3px;
}

.searchbox-input {
  width: calc(100% - 50px);
  height: 50px;
  outline: none;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}
.searchbox-action {
  width: 50px;
  height: 50px;
  background-color: #00c4cc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
}

/* Filter */
.filter {
  display: flex;
}

.filter-item {
  transition: 0.3s ease;
  width: fit-content;
  padding: 0.75em 1em;
  background-color: #fff;
  color: #0a2439;
  border: 2px solid #00c4cc20;
  border-radius: 3px;
  margin: 0 1em 0 0;
  cursor: pointer;
  font-weight: 500;
}

.filter-selected {
  border: 2px solid #00c4cc;
  font-weight: 600;
}

.filter-item:hover {
  background-color: #00c4cc;
  color: #fff;
}

/* Containers */
.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Listing */
.listing {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 120px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.listing-search {
  grid-area: 1 / 1 / 2 / 2;
}

.listing-action {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: end;
  justify-content: end;
}

.listing-filter {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  align-items: center;
}

.listing-table {
  grid-area: 3 / 1 / 4 / 3;
}

/* Fonts */
.header-title {
  font-size: 25px;
  font-weight: 800;
  color: #0a2439;
  position: relative;
  padding-bottom: 0.5em;
}
.subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #0a2439;
  position: relative;
  padding-bottom: 0.5em;
}
/* Design */
.navbar-title:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #00c4cc;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* Table */
.table {
  width: 100%;
  margin: 1em auto;
  background-color: #fff;
  border-spacing: 0;
  border-radius: 3px;
  box-shadow: 2px 5px 10px 2px #00c4cc20;
}

.table-head {
  background: #0a2439;
  height: 60px;
  color: #fff;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 600;
}

.table-cell {
  font-size: 15px;
  padding: 10px;
}

.table-actions {
  display: flex;
  flex-wrap: wrap;
}

.table-icon {
  transition: 0.2s ease;
  width: 32px;
  height: 32px;
  background-color: #20bec1c4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 32px;
}

.table-icon:hover {
  background-color: #00c4cc;
}

.table-row {
  cursor: pointer;
}

.table-row:nth-of-type(even) {
  background-color: #e6f9fa40;
}

.first-cell {
  position: relative;
}

.first-cell:before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #00c4cc00;
  left: -8px;
  top: calc(50% - 8px);
}

.table-row:hover .first-cell:before {
  background-color: #00c4cc;
}

/* Placeholder */
::placeholder {
  font-size: 15px;
  color: #0a243990;
}

/* Login */

.login {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

.login-left {
  grid-area: 1 / 1 /2 / 2;
  background-color: #0a2439;
  display: flex;
  align-items: center;
  border-right: 10px solid #00c4cc;
  justify-content: center;
}

.login-right {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

/* Form */
.form-container {
  width: 100%;
  padding: 1em 5%;
}

.form {
  width: 100%;
  height: 100%;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
}

.form-icon {
  margin-bottom: 3em;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-color: #0a2439;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #0a2439;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  min-width: 40%;
}

.form-action {
  width: 100%;
}

.form-input {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  border: 3px solid #00c4cc10;
  border-left: 3px solid #00c4cc;
  border-radius: 3px;
  position: relative;
  padding-left: 7px;
  font-family: Montserrat;
}

.generate-field {
  display: flex;
  width: fit-content;
}

.generate {
  width: 25px;
  height: 25px;
  background-image: url(/img/random.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 3px;
  margin-left: -37.5px;
  margin-top: 12.5px;
  z-index: 10;
}

.form-select {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  border: 3px solid #00c4cc10;
  border-left: 3px solid #00c4cc;
  border-radius: 3px;
  font-family: Montserrat;
  padding-left: 10px;
}

.remember-field {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}

.remember-text {
  padding-left: 10px;
  font-weight: 600;
  color: #0a2439;
}

/* Container */
.container {
  width: 45%;
  margin-right: 5%;
  float: left;
  padding: 0 0 1em 0;
  box-shadow: 2px 5px 10px 2px #00c4cc20;
  border-radius: 3px;
  margin-bottom: 1em;
}

.full {
  width: 100%;
  margin-right: 0;
}

.container-header {
  background-color: #0a2439;
  color: #fff;
  font-size: 18px;
  padding: 1em 5%;
  font-weight: 600;
  margin-bottom: 1em;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.container-row {
  margin-bottom: 1em;
  padding: 0 5%;
}

.container-action {
  margin-top: 1.5em;
  padding: 0 5%;
}

.container-cta {
  text-decoration: none;
  color: #00c4cc;
  font-weight: 600;
  border: 3px solid #00c4cc;
  padding: 0.5em 0.75em;
  display: block;
  border-radius: 3px;
  width: fit-content;
}

/*Modal*/

#modal {
  display: none;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 50px 1000px #0a243980;
  z-index: 1000;
  width: 400px;
  top: 10vh;
  left: calc(50vw - 200px);
  padding: 2em;
}

#modal-title {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #0a2439;
}

#modal-content {
  padding: 35px 0;
}

#modal-submit {
  background-color: #00c4cc;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  padding: 0.7em;
}

#modal-close {
  border-radius: 3px;
  color: #0a2439;
  border: 2px solid #0a2439;
  cursor: pointer;
  font-weight: 600;
  padding: 0.7em;
}

#modal-content .form-select {
  margin-bottom: 1em;
}

/* Login */
.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.75fr 120px 40px 80px 40px 80px 60px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

.login1 {
  grid-area: 1 / 1 / 2 / 2;
  padding: 0 10%;
  display: flex;
  align-items: end;
}
.login2 {
  grid-area: 2 / 1 / 3 / 2;
  padding: 0 10%;
}
.login3 {
  grid-area: 3 / 1 / 4 / 2;
  padding: 0 10%;
}
.login4 {
  grid-area: 4 / 1 / 5 / 2;
  padding: 0 10%;
}
.login5 {
  grid-area: 5 / 1 / 6 / 2;
  padding: 0 10%;
}
.login6 {
  grid-area: 6 / 1 / 7 / 2;
  padding: 0 10%;
}
.login7 {
  grid-area: 7 / 1 / 8 / 2;
  padding: 0 10%;
}
.login8 {
  grid-area: 8 / 1 / 9 / 2;
  padding: 0 10%;
}
.login9 {
  grid-area: 1 / 2 / 9 / 3;
  background-color: #0a2439;
  padding: 0 10%;
}

.login-icon {
  width: 48px;
  height: 48px;
}

.login-title {
  padding-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #0a2439;
  width: fit-content;
  border-bottom: 5px solid #00c4cc;
}

.login-label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #0a2439;
}

.login-input {
  background: #ffffff;
  border: 2px solid rgba(10, 36, 57, 0.1);
  height: 50px;
  width: 100%;
  padding: 0 5px;
}

.login-remember {
  display: flex;
  align-items: center;
}

.remember-checkbox {
  width: 24px;
  height: 24px;
  background-color: #00c4cc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remember-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #0a2439;
}

.login-submit {
  width: 100%;
  border-radius: 50px;
  height: 50px;
  background-color: #00c4cc;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  outline: none;
  border: none;
}

/* Accueil */

.index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 130px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  min-height: 100%;
  overflow: auto;
  padding: 20px 0;
}

.index1 {
  grid-area: 1 / 1 / 2 / 2;
}
.index2 {
  grid-area: 1 / 2 / 2 / 3;
}
.index3 {
  grid-area: 1 / 3 / 2 / 4;
}
.index4 {
  grid-area: 2 / 1 / 3 / 3;
}
.index5 {
  grid-area: 2 / 3 / 3 / 4;
}

.index-card {
  box-shadow: 5px 5px 10px 5px #1fc1c31a;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 1em;
  border-left: 5px solid #233a4d;
}

.index-cta {
  width: 100%;
  height: 100%;
  background-color: #00c4cc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  border-radius: 3px;
}

.index-last {
  width: 100%;
  height: 100%;
  background-color: #0a2439;
}

.last-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 1em;
  border-bottom: 5px solid #00c4cc;
}

.last-row {
  background-color: #233a4d;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1em auto;
  height: 45px;
  padding: 0 1em;
}

.last-row-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  max-width: 10ch;
  line-height: 18px;
  max-height: 18px;
  overflow: hidden;
}

.index-graph {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr 50px;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 5px solid #00c4cc20;
  padding: 0 20px;
}

.graph1 {
  grid-area: 1 / 1 / 2 / 5;
}
.graph2 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  align-items: end;
}
.graph3 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: end;
}
.graph4 {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: end;
}
.graph5 {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  align-items: end;
}
.graph6 {
  grid-area: 3 / 1 / 4 / 2;
}
.graph7 {
  grid-area: 3 / 2 / 4 / 3;
}
.graph8 {
  grid-area: 3 / 3 / 4 / 4;
}
.graph9 {
  grid-area: 3 / 4 / 4 / 5;
}

.graph-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  padding-top: 20px;
  color: #0a2439;
}

.graph-stat {
  color: #00c4cc;
  font-weight: 800;
}

.graph-legend {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.legend-icon {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background-color: #00c4cc;
}

.legend-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #0a2439;
  padding-left: 8px;
}

.graph-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #233a4d;
  width: 100%;
  margin: 0 auto;
}


.graph-count {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  display: block;
}


/* Portraits */

.portrait-card {
  width: 250px;
  box-shadow: 0px 5px 10px 3px #20BFC11A;
  position: relative;
  background-color: #fff;
  padding: 0 0 1em 0;
  margin: 20px 20px 20px 0;
}

.card-header {
  background-color: #0a2439;
  width: 100%;
  height: 64px;
}

.card-figure {
  width: 64px;
  height: 64px;
  margin: -32px auto 16px auto;
  background-color: #00c4cc;
  border-radius: 64px;
}

.card-image {
  width: 100%;
  height: 100%;
}

.portrait-card-title {
  font-size: 17px;
  margin-bottom: 0.5em;
  font-weight: 700;
  color: #0a2439;
  padding: 0 5%;
  text-align: center;
}

.portrait-card-subtitle {
  font-style: italic;
  font-weight: 700;
  padding: 0 5%;
  font-size: 15px;
text-align: center;
  color: #20BFC1;
  position: relative;
  padding-bottom: 5px;
}

.portrait-card-subtitle:after {
content: "";
position: absolute;
bottom: 0;
width: 20%;
left: calc(40%);
height: 3px;
background-color: #00c4cc;
}

.card-edit, .card-delete {
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: #00c4cc;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  cursor: pointer;
}

.card-edit {
  left: 16px;
}

.card-delete {
  right: 16px;
}