<% if (message !=='' ) { %>
    <div style="display: block;" id="modal">
        <div id="modal-title">
            <%= message %>
        </div>
        <div id="modal-close" onclick="closeModal()">Ok</div>
    </div>

    <% } %>