<%- include('includes/header.ejs') %>

    <body>
        <div class="layout">

            <div class="layout-header">
                <h1 class="header-title">Tableau de bord</h1>
            </div>
            <%- include('includes/navbar.ejs') %>

                <div class="layout-content">
                    <div class="index">
                        <div class="index1">
                            <div class="index-card">
                                <div class="card-icon"><img src="img/adherents.png" width="24px" height="24px"></div>
                                <h3 class="card-title">Nos adhérents</h3>
                            </div>
                        </div>
                        <div class="index2">
                            <div class="index-card">
                                <div class="card-icon"><img src="img/temps.png" width="24px" height="24px"></div>
                                <h3 class="card-title">Ma fiche mensuelle</h3>
                            </div>
                        </div>
                        <div class="index3">
                            <div class="index-cta">Nouvel adhérent</div>
                        </div>
                        <div class="index4">
                            <div class="index-graph"></div>
                        </div>
                        <div class="index5">
                            <div class="index-last">
                                <h3 class="last-title">Derniers adhérents</h3>
                                <% for( let i=0; i < 5; i++ ) { %>
                                    <a href="/adherent?id=<%= adherents[i].id %> " class="last-row no-decoration">
                                        <span class="last-row-title">
                                            <%= adherents[i].entreprise %>
                                        </span>
                                        <img src="img/go.png" width="24px" height="24px">
                                    </a>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </body>
    <script src="/js/index.js"></script>

    </html>