<%- include('includes/header.ejs') %>

    <body>
        <div class="layout">

            <div class="layout-header">
                <h1 class="header-title">Bienvenue sur votre espace de gestion</h1>
            </div>
            <%- include('includes/navbar.ejs') %>

                <div class="layout-content">
                    <div>
                 
                    </div>
                </div>
        </div>

    </body>
    <script src="/js/index.js"></script>

    </html>