<%- include('includes/header.ejs') %>


    <body>
        <div class="layout">

            <div class="layout-header">
                <h1 class="header-title">Profil adhérent</h1>
            </div>
            <%- include('includes/navbar.ejs') %>
            
                <div class="layout-content">

<h1>Adhérent : <%= adherent[0].entreprise %></h1>
                </div>
        </div>

    </body>
    <script src="/js/index.js"></script>

    </html>