<%- include('includes/header.ejs') %>

<body>
    <div class="layout">

        <div class="layout-header">
            <h1 class="header-title">Vos fiches temps</h1>
        </div>

        <%- include('includes/navbar.ejs') %>

        <div class="layout-content">

        </div>
    </div>

</body>
<script src="/js/index.js"></script>

</html>