<%- include('includes/header.ejs') %>


    <body>
        <div class="login">
            <div class="login1"><img class="login-icon" src="img/login.png"></div>
            <div class="login2">
                <h1 class="login-title">Connexion</h1>
            </div>
            <div class="login3">
                <form action="/auth" method="post">
                    <label class="login-label" for="identifiant">Adresse email</label>
            </div>
            <div class="login4"><input class="login-input" type="text" id="identifiant" name="identifiant"></div>
            <div class="login5"><label class="login-label" for="password">Mot de passe</label></div>
            <div class="login6"><input class="login-input" type="password" id="password" name="password"></div>
            <div class="login7">
                <div class="login-remember">
                    <div class="remember-checkbox">
                        <img src="img/check.png" width="12px" height="12px" alt="checked">
                    </div>
                    <p class="remember-text">Se rappeler de moi</p>
                </div>
            </div>
            <div class="login8"><input class="login-submit" type="submit" value="Connexion"></form>
            </div>
            <div class="login9"></div>
        </div>

    </body>
    <script src="/js/index.js"></script>

    </html>