<%- include('includes/header.ejs') %>

<body>
    <div class="layout">
        <%- include('includes/navbar.ejs') %>

        <div class="layout-header">
            <h1 class="header-title">Liste de nos logiciels</h1>
        </div>
        <div class="layout-content">
            <div class="flex">


                <div class="card card-logiciel">
                    <div class="card-header">
                        <img src="img/mailchimp.png" alt="" class="card-icon">
                        <h6 class="card-title card-header_title">Mailchimp</h6>
                    </div>
                    <div class="card-row"><span class="row-label">Identifiant : </span>communication@cpmereunion.re
                    </div>
                    <div class="card-row"><span class="row-label">Mot de passe : </span>2EB2E</div>
                    <div class="card-action">Accéder</div>
                </div>
                <div class="card card-logiciel">
                    <div class="card-header">
                        <img src="img/eventbrite.png" alt="" class="card-icon">
                        <h6 class="card-title card-header_title">EventBrite</h6>
                    </div>
                    <div class="card-row"><span class="row-label">Identifiant : </span>communication@cpmereunion.re
                    </div>
                    <div class="card-row"><span class="row-label">Mot de passe : </span>2EB2E</div>
                    <div class="card-action">Accéder</div>
                </div>
                <div class="card card-logiciel">
                    <div class="card-header">
                        <img src="img/crowdaa.jpg" alt="" class="card-icon">
                        <h6 class="card-title card-header_title">Application CPME</h6>
                    </div>
                    <div class="card-row"><span class="row-label">Identifiant : </span>communication@cpmereunion.re
                    </div>
                    <div class="card-row"><span class="row-label">Mot de passe : </span>2EB2E</div>
                    <div class="card-action">Accéder</div>
                </div>
                <div class="card card-logiciel">
                    <div class="card-header">
                        <img src="img/wordpress.jpg" alt="" class="card-icon">
                        <h6 class="card-title card-header_title">Notre site internet</h6>
                    </div>
                    <div class="card-row"><span class="row-label">Identifiant : </span>communication@cpmereunion.re
                    </div>
                    <div class="card-row"><span class="row-label">Mot de passe : </span>2EB2E</div>
                    <div class="card-action">Accéder</div>
                </div>
                <div class="card card-logiciel">
                    <div class="card-header">
                        <img src="img/canva.png" alt="" class="card-icon">
                        <h6 class="card-title card-header_title">Canva</h6>
                    </div>
                    <div class="card-row"><span class="row-label">Identifiant : </span>communication@cpmereunion.re
                    </div>
                    <div class="card-row"><span class="row-label">Mot de passe : </span>2EB2E</div>
                    <div class="card-action">Accéder</div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/js/index.js"></script>

</html>