<%- include('includes/header.ejs') %>

    <body>
        <div class="layout">

            <div class="layout-header">
                <h1 class="header-title">Nouvel adhérent</h1>
            </div>
            <%- include('includes/navbar.ejs') %>

                <div class="layout-content">
                    <form class="form-flex" onsubmit="addAdherent(event)" method="post">
                        <div class="form-group">
                            <label for="entreprise" class="form-label">Raison Sociale</label>
                            <input required name="entreprise" id="entreprise" type="text" class="form-input"
                                placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="section" class="form-label">Section</label>
                            <select required name="section" id="section" class="form-select">
                                <option value="">Choisir une section</option>
                                <option value="artisanat">Artisanat</option>
                                <option value="commerce">Commerce</option>
                                <option value="industrie">Industrie</option>
                                <option value="services">Services</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="adresse" class="form-label">Adresse de l' entreprise</label>
                            <input required type="text" id="adresse" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="nom" class="form-label">Nom du représentant</label>
                            <input required type="text" id="nom" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="prenom" class="form-label">Prénom du représentant</label>
                            <input required type="text" id="prenom" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Adresse E-mail</label>
                            <input pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Format d'email invalide" required type="text" id="email" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="form-label">Numéro de téléphone</label>
                            <input required type="text" id="telephone" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="identifiant" class="form-label">Mot de passe</label>
                            <div class="generate-field">
                                <input required maxlength="5" type="text" id="identifiant" class="form-input"
                                    placeholder="Réponse">
                                <div class="generate" onclick="generateCode()"></div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="siteweb" class="form-label">Site web</label>
                            <input type="text" id="siteweb" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-action">
                            <input type="submit" class="cta" value="Confirmer la création">
                        </div>
                    </form>
                </div>
        </div>

        <div id="modal">
            <h6 id="modal-title">Nouvel adhérent crée</h6>
            <div id="modal-content">
                <div id="modal-entreprise"></div>
                <div id="modal-email"></div>
                <div id="modal-identifiant"></div>
            </div>
            <div class="flex-between">
                <div id="modal-submit" onclick="closeModal()">Ok</div>
            </div>

        </div>
    </body>
    <script>
        function addAdherent(event) {
            event.preventDefault();
            let entreprise = document.getElementById('entreprise').value;
            let email = document.getElementById('email').value;
            let identifiant = document.getElementById('identifiant').value;
            let adherent = {
                entreprise: document.getElementById('entreprise').value,
                section: document.getElementById('section').value,
                adresse: document.getElementById('adresse').value,
                nom: document.getElementById('nom').value,
                prenom: document.getElementById('prenom').value,
                email: document.getElementById('email').value,
                telephone: document.getElementById('telephone').value,
                identifiant: document.getElementById('identifiant').value,
                siteweb: document.getElementById('siteweb').value,
                status: 1
            }
            fetch(`http://localhost:7070/api/adherents/`, {
                method: "POST",
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(adherent)
            })
                .then(res => {
                    console.log("Adhérent ajouté : ", res);
                    showModal(entreprise, email, identifiant);
                });
        }

        function generateCode() {
            let field = document.getElementById('identifiant');
            let result = ''
            var characters = 'ABCDEFGHIJKLMNPQRSTUVWXYZ0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < 5; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            field.value = result;
        }

        function showModal(entreprise, email, identifiant) {
            let modal = document.getElementById('modal');
            let modalEntreprise = document.getElementById('modal-entreprise');
            let modalEmail = document.getElementById('modal-email');
            let modalIdentifiant = document.getElementById('modal-identifiant');
            modalEntreprise.innerHTML = entreprise;
            modalEmail.innerHTML = email;
            modalIdentifiant.innerHTML = identifiant;
            modal.style.display = "block";
        }

        function closeModal() {
            let modal = document.getElementById('modal');
            modal.style.display = "none";
            document.location.assign(`/adherents`)
        }
    </script>
    <script src="/js/index.js"></script>

    </html>